In [47]:
import os
import pandas as pd

In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
os.chdir('/content/drive/MyDrive/PDS_Assignment_2/')

In [61]:
#Reading and storing the data to be analysed in the variable 'data'
data = pd.read_csv('data_clean/clean_data.csv')

In [65]:
#Task-c:

encoded_data = pd.get_dummies(data, columns=['Fuel_Type', 'Transmission'])
encoded_data.head(10)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,9,1,0,0,0,1
1,1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,13,0,0,1,0,1
2,2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,12,1,0,0,0,1
3,3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,11,1,0,0,1,0
4,4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,11,1,0,0,0,1
5,5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,17.50,8,1,0,0,1,0
6,6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,5.20,11,1,0,0,0,1
7,7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.30,1248.0,74.00,5.0,1.95,12,1,0,0,0,1
8,8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,9.95,6,0,0,1,0,1
9,9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.80,1497.0,116.30,5.0,4.49,12,0,0,1,1,0

In [66]:
# Dropping the first column which is just a row number
encoded_data = encoded_data.iloc[:, 1:]

# Write encoded data to a new file
encoded_data.to_csv('/content/drive/MyDrive/PDS_Assignment_2/results/encoded_data.csv', index=False)

encoded_data.head(10)

,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,Price,Age,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582.0,126.20,5.0,12.50,9,1,0,0,0,1
1,Honda Jazz V,Chennai,2011,46000,First,13.00,1199.0,88.70,5.0,4.50,13,0,0,1,0,1
2,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248.0,88.76,7.0,6.00,12,1,0,0,0,1
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968.0,140.80,5.0,17.74,11,1,0,0,1,0
4,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461.0,63.10,5.0,3.50,11,1,0,0,0,1
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,First,11.36,2755.0,171.50,8.0,17.50,8,1,0,0,1,0
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,First,20.54,1598.0,103.60,5.0,5.20,11,1,0,0,0,1
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Second,22.30,1248.0,74.00,5.0,1.95,12,1,0,0,0,1
8,Maruti Ciaz Zeta,Kochi,2018,25692,First,21.56,1462.0,103.25,5.0,9.95,6,0,0,1,0,1
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,First,16.80,1497.0,116.30,5.0,4.49,12,0,0,1,1,0

In [67]:
#Task-d:

import datetime as dt
current_year = dt.datetime.now().year
data['Age'] = current_year - data['Year']

data = data.iloc[:, 1:]

# Write the data of cars age to a new file
data.to_csv('/content/drive/MyDrive/PDS_Assignment_2/results/cars_age.csv', index=False)

data.head(10)

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price,Age
0,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582.0,126.20,5.0,12.50,9
1,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13.00,1199.0,88.70,5.0,4.50,13
2,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248.0,88.76,7.0,6.00,12
3,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968.0,140.80,5.0,17.74,11
4,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461.0,63.10,5.0,3.50,11
5,Toyota Innova Crysta 2.8 GX AT 8S,Mumbai,2016,36000,Diesel,Automatic,First,11.36,2755.0,171.50,8.0,17.50,8
6,Volkswagen Vento Diesel Comfortline,Pune,2013,64430,Diesel,Manual,First,20.54,1598.0,103.60,5.0,5.20,11
7,Tata Indica Vista Quadrajet LS,Chennai,2012,65932,Diesel,Manual,Second,22.30,1248.0,74.00,5.0,1.95,12
8,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.56,1462.0,103.25,5.0,9.95,6
9,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.80,1497.0,116.30,5.0,4.49,12

In [60]:
#Task-e:

# Select: Select specific columns
selected_data = data[['Name', 'Location', 'Year', 'Mileage', 'Fuel_Type', 'Transmission']]

# Filter: Filter rows based on conditions
filtered_data = data[data['Price'] > data['Price'].mean()]

# Rename: Rename columns
renamed_data = data.rename(columns={'Year': 'Manufacture_Year', 'Price': 'Selling_Price'})

# Mutate
data['Price_Category'] = pd.cut(data['Price'], bins=[0, 5, 10, 15, 20, 25, 30], labels=['<5', '5-10', '10-15', '15-20', '20-25', '>25'])

# Arrange: Sort rows based on one or more columns
arranged_data = data.sort_values(by='Price', ascending=False)

# Summarize with group by :
# Finding the average price of cars based on their location
summary_data = data.groupby('Location')['Price'].mean()

# Results
print("Select:")
print(selected_data.head())

print("----------------------")
print("\nFilter:")
print(filtered_data.head())


print("----------------------")
print("\nRename:")
print(renamed_data.head())


print("----------------------")
print("\nMutate:")
print(data.head())


print("----------------------")
print("\nArrange:")
print(arranged_data.head())


print("----------------------")
print("\nSummary Data (Average Price by Location):")
print(summary_data)

Select:
                               Name    Location  Year  Mileage Fuel_Type  \
0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015    19.67    Diesel
1                      Honda Jazz V     Chennai  2011    13.00    Petrol
2                 Maruti Ertiga VDI     Chennai  2012    20.77    Diesel
3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013    15.20    Diesel
4            Nissan Micra Diesel XV      Jaipur  2013    23.08    Diesel

  Transmission
0       Manual
1       Manual
2       Manual
3    Automatic
4       Manual
----------------------

Filter:
    Unnamed: 0                               Name    Location  Year  \
0            0   Hyundai Creta 1.6 CRDi SX Option        Pune  2015
3            3    Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
5            5  Toyota Innova Crysta 2.8 GX AT 8S      Mumbai  2016
8            8                   Maruti Ciaz Zeta       Kochi  2018
11          11   Land Rover Range Rover 2.2L Pure       Delhi  2014

    Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0               41000    Diesel       Manual      First    19.67  1582.0
3               40670    Diesel    Automatic     Second    15.20  1968.0
5               36000    Diesel    Automatic      First    11.36  2755.0
8               25692    Petrol       Manual      First    21.56  1462.0
11              72000    Diesel    Automatic      First    12.70  2179.0

     Power  Seats  Price  Age
0   126.20    5.0  12.50    9
3   140.80    5.0  17.74   11
5   171.50    8.0  17.50    8
8   103.25    5.0   9.95    6
11  187.70    5.0  27.00   10
----------------------

Rename:
   Unnamed: 0                              Name    Location  Manufacture_Year  \
0           0  Hyundai Creta 1.6 CRDi SX Option        Pune              2015
1           1                      Honda Jazz V     Chennai              2011
2           2                 Maruti Ertiga VDI     Chennai              2012
3           3   Audi A4 New 2.0 TDI Multitronic  Coimbatore              2013
4           4            Nissan Micra Diesel XV      Jaipur              2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    13.00  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  Selling_Price  Age
0  126.20    5.0          12.50    9
1   88.70    5.0           4.50   13
2   88.76    7.0           6.00   12
3  140.80    5.0          17.74   11
4   63.10    5.0           3.50   11
----------------------

Mutate:
   Unnamed: 0                              Name    Location  Year  \
0           0  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1           1                      Honda Jazz V     Chennai  2011
2           2                 Maruti Ertiga VDI     Chennai  2012
3           3   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4           4            Nissan Micra Diesel XV      Jaipur  2013

   Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  Engine  \
0              41000    Diesel       Manual      First    19.67  1582.0
1              46000    Petrol       Manual      First    13.00  1199.0
2              87000    Diesel       Manual      First    20.77  1248.0
3              40670    Diesel    Automatic     Second    15.20  1968.0
4              86999    Diesel       Manual      First    23.08  1461.0

    Power  Seats  Price  Age Price_Category
0  126.20    5.0  12.50    9          10-15
1   88.70    5.0   4.50   13             <5
2   88.76    7.0   6.00   12           5-10
3  140.80    5.0  17.74   11          15-20
4   63.10    5.0   3.50   11             <5
----------------------

Arrange:
      Unnamed: 0                                         Name    Location  \
3952        3952  Land Rover Range Rover 3.0 Diesel LWB Vogue   Hyderabad
5620        5620                   Lamborghini Gallardo Coupe       Delhi
5752        5752                       Jaguar F Type 5.0 V8 S   Hyderabad
1457        1457              Land Rover Range Rover Sport SE       Kochi
1917        1917                           BMW 7 Series 740Li  Coimbatore

      Year  Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  \
3952  2017              25000    Diesel    Automatic      First    13.33
5620  2011               6500    Petrol    Automatic      Third     6.40
5752  2015               8000    Petrol    Automatic      First    12.50
1457  2019              26013    Diesel    Automatic      First    12.65
1917  2018              28060    Petrol    Automatic      First    12.05

      Engine  Power  Seats   Price  Age Price_Category
3952  2993.0  255.0    5.0  160.00    7            NaN
5620  5204.0  560.0    2.0  120.00   13            NaN
5752  5000.0  488.1    2.0  100.00    9            NaN
1457  2993.0  255.0    5.0   97.07    5            NaN
1917  2979.0  320.0    5.0   93.67    6            NaN
----------------------

Summary Data (Average Price by Location):
Location
Ahmedabad      8.567248
Bangalore     13.482670
Chennai        7.958340
Coimbatore    15.160206
Delhi          9.881944
Hyderabad      9.997423
Jaipur         5.916725
Kochi         11.309109
Kolkata        5.733924
Mumbai         9.592546
Pune           6.951000
Name: Price, dtype: float64